.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family:Franklin Gothic Medium;
    text-shadow: 1px 1px 2px black;
    width: 100%;
    color: #080808;
}
.navbar-container-left{
    display: flex;
    flex-direction: row;


    padding: 10px;
}
.navbar-container-right{
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 10px;
}
.navbar-link{
    margin-right: 1em;
    background-color: aliceblue;
    font-family:   Franklin Gothic Medium;
    font-size: x-large;
    width: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.navbar-button{
    background-color: rgb(248, 245, 33);
    font-family:Franklin Gothic Medium;
    font-size: x-large;
    width: 200px;
    padding: 10px;
    color:  #1313137f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 1em;
}

.navbar-button button:hover {
    background-color: rgb(33, 194, 248);
}

.be-banana {
    font-size: xx-large;
}