.photographer-container {
    background-image: url('https://res.cloudinary.com/dflvexboa/image/upload/v1724270761/wbqkdxj3r5rvxjshsmiq.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}